*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    border: 1px solid black;
    text-align: center;
    
    width: max-content;
    background-color: transparent;
    padding: 4px 20px;
}

button{
    width: 40px;
    padding: 4px 20px;
    cursor: pointer;

}